<div class="container">
  <div class="row">
    <div class="col">
      <h1>GET Search</h1>
      <div id="get-search">
        <%= render "search_form", { form_method: :get } %>
      </div>
    </div>
    <div class="col">
      <h1>POST Search</h1>
      <div id="post-search">
        <%= render "search_form", { form_method: :post } %>
      </div>
    </div>
  </div>
</div>
