
bars search
<span class="f2">  handles GET searches</span>
<span class="f2">  handles GET searches without a user ID</span>
<span class="f2">  fails on GET searches without a user ID</span>
<span class="f2">  handles POST searches</span>
<span class="f2">  handles POST searches without a user ID</span>
<span class="f2">  fails on POST searches without a user ID</span>

/bars
<span class="f2">  handles searches with both options</span>
<span class="f2">  handles searches without a user ID</span>
<span class="f2">  handles searches without a null user ID</span>
<span class="f2">  DOES NOT reject searches with an empty string user ID</span>
<span class="f2">  rejects searches with a string user ID</span>
<span class="f2">  rejects searches with a string user ID</span>
<span class="f2">  handles searches with just a user ID</span>

Finished in 0.12059 seconds (files took 0.64364 seconds to load)
<span class="f2">13 examples, 0 failures</span>

