<%= render "search" %>

<div class="container mt-5">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <h1>Test Results</h1>
      <pre>
        <%= render "test_output" %>
      </pre>
    </div>
    <div class="col-3"></div>
  </div>
</div>
