<%= render "search" %>

<div class="container mt-5">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <h1>Params</h1>
      <dl>
        <dt>Foo:</dt>
        <dl id="param-foo">“<%= @foo %>”</dl>

        <dt>User ID:</dt>
        <dl id="param-user-id">“<%= @user_id %>”</dl>
      </di>
    </div>
    <div class="col"></div>
  </div>
</div>
